.low-priority {
    background: rgba(54, 200, 54, 0.5);
}

.medium-priority {
    background: rgba(200, 200, 54, 0.5);
}

.max-priority {
    background: rgba(200, 54, 54, 0.5);
}

.todo-row {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.completed-todo {
    text-decoration: line-through;
}
